<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Summit_Crosswalk_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <Summit_Crosswalk_Manager.Properties.Settings>
            <setting name="Connections" serializeAs="String">
                <value>Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;|Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value/>
            </setting>
            <setting name="Count" serializeAs="String">
                <value/>
            </setting>
        </Summit_Crosswalk_Manager.Properties.Settings>
    </userSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\ProgramData\SummitHealthcare\Summit_Crosswalk_Manager\LogFiles\logfile.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>
